body {
	background-image: url(images/light-tile.gif);
	background-color: white;
	text-align: center;
	width: auto;
	margin: 0;
}

#title {
	font-size: 20px;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
}

#line1 {
	font-size: 15px;
	font-style: normal;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
}

hr.colour {
	background-color: black;
	height: 1px;
}

th#options {
	vertical-align: middle;
	background-color: #2E6F7A;
	height: 125px;
}

table#main {
	width: 100%;
	height: 100%;
	border: 0px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	border-spacing: 0px;
}

td.table-edges {
	width: 34px;
	background-color: #2E6F7A;
}

td#table-internal {
	vertical-align: top;
	width: 882px;
	height: 455px;
	background-color: #2E6F7A;
}

li.dropdown {
	display: block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

	.dropdown-content a {
		color: black;
		text-decoration: none;
		display: block;
		text-align: left;
	}

.dropdown:hover .dropdown-content {
	display: block;
	position: absolute;
}

table.content {
	width: 100%;
	height: 900px;
	border: 0px;
	padding: 0px;
	border-spacing: 0px;
	margin-left: auto;
	margin-right: auto;
}

td#logo {
	width: 150px;
	height: 125px;
	background-color: #2E6F7A;
}

span.center {
	float: none;
}

img#logo {
	border: none;
	width: 148px;
	height: 118px;
}

div#center {
	background-color: #FFC90E;
	width: 950px;
	margin-left: auto;
	margin-right: auto;
}

div.bottombar { /* bar that runs across the bottom of the menu */
	height: 5px;
	background: #000000;
}

ul.semiopaquemenu { /* main menu UL */
	font: bold 14px Georgia;
	width: 100%;
	background: #FFC90E;
	padding: 11px 0 8px 0; /* padding of the 4 sides of the menu */
	margin: 0;
	text-align: center; /* set value to "left", "center", or "right" to align menu accordingly */
}

	ul.semiopaquemenu li {
		display: inline-block;
	}

		ul.semiopaquemenu li a {
			color: black;
			padding: 6px 8px 6px 8px; /* padding of the 4 sides of each menu link */
			margin-right: 15px; /* spacing between each menu link */
			text-decoration: none;
		}

			ul.semiopaquemenu li a:hover, li a:active ul.semiopaquemenu li a.selected {
				color: black;
				background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjgyIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4xNiIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); /* IE9+ SVG equivalent  of linear gradients */
				background: -moz-linear-gradient(top, rgba(255,255,255,0.82) 0%, rgba(255,255,255,0.16) 100%); /* fade from white (0.82 opacty) to 0.16 opacity */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.82)), color-stop(100%,rgba(255,255,255,0.16)));
				background: -webkit-linear-gradient(top, rgba(255,255,255,0.82) 0%,rgba(255,255,255,0.16) 100%);
				background: -o-linear-gradient(top, rgba(255,255,255,0.82) 0%,rgba(255,255,255,0.16) 100%);
				background: -ms-linear-gradient(top, rgba(255,255,255,0.82) 0%,rgba(255,255,255,0.16) 100%);
				background: linear-gradient(top, rgba(255,255,255,0.82) 0%,rgba(255,255,255,0.16) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1ffffff', endColorstr='#29ffffff',GradientType=0 );
				-webkit-tap-highlight-color: rgba(0,0,0,0);
				-webkit-user-select: none;
				-webkit-touch-callout: none;
				-moz-box-shadow: 0 0 5px #595959; /* CSS3 box shadows */
				-webkit-box-shadow: 0 0 5px #595959;
				box-shadow: 0 0 5px #595959;
				padding-top: 12px; /* large padding to get menu item to protrude upwards */
				padding-bottom: 20px; /* large padding to get menu item to protrude downwards */
			}
